WebServiceClinicaMedica/web/WEB-INF/wsit-br.com.misael.webserviceclinicamedica.services.WsHistorico.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="WsHistorico" targetNamespace="http://services.webserviceclinicamedica.misael.com.br/" xmlns:tns="http://services.webserviceclinicamedica.misael.com.br/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsrm="http://docs.oasis-open.org/ws-rx/wsrmp/200702" 
 >
    <message name="consultarConsultasFinalizadas"/>
    <message name="consultarConsultasFinalizadasResponse"/>
    <message name="Exception"/>
    <message name="consultarConsultasNaoFinalizadas"/>
    <message name="consultarConsultasNaoFinalizadasResponse"/>
    <message name="consultarHistorico"/>
    <message name="consultarHistoricoResponse"/>
    <portType name="WsHistorico">
        <operation name="consultarConsultasFinalizadas">
            <input message="tns:consultarConsultasFinalizadas"/>
            <output message="tns:consultarConsultasFinalizadasResponse"/>
            <fault name="Exception" message="tns:Exception"/>
        </operation>
        <operation name="consultarConsultasNaoFinalizadas">
            <input message="tns:consultarConsultasNaoFinalizadas"/>
            <output message="tns:consultarConsultasNaoFinalizadasResponse"/>
            <fault name="Exception" message="tns:Exception"/>
        </operation>
        <operation name="consultarHistorico">
            <input message="tns:consultarHistorico"/>
            <output message="tns:consultarHistoricoResponse"/>
        </operation>
    </portType>
    <binding name="WsHistoricoPortBinding" type="tns:WsHistorico">
        <operation name="consultarConsultasFinalizadas">
            <input/>
            <output/>
            <fault name="Exception"/>
        </operation>
        <operation name="consultarConsultasNaoFinalizadas">
            <input/>
            <output/>
            <fault name="Exception"/>
        </operation>
        <operation name="consultarHistorico">
            <input/>
            <output/>
            <fault/>
        </operation>
    </binding>
    <service name="WsHistorico">
        <port name="WsHistoricoPort" binding="tns:WsHistoricoPortBinding"/>
    </service>
</definitions>
